/*  Naam: Lucas Niesen */

*{
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 800px;
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.row{
    padding: 15px 0px 15px 0px;
}

label{
    font-weight: bolder;
    font-size: 15pt;
}

label[for=beschrijving]{
    padding: 15px 0px 15px 0px;
    display: block;
}

label[for=tijdsduur]{
    padding: 0px 0px 0px 10px;
    display: block;
}

input[type=date], input[type=number], input[type=email]{
    font-size: 15pt;
    padding: 5px 0px 5px 15px;
    align-items: center;
}

input[type=submit]{
    padding: 10px;
    font-size: 12pt;
}

.row{
    display: flex;
    align-items: center;
}

textarea{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14pt;
}

.col-1 {width: calc((100% / 12) * 1)}
.col-2 {width: calc((100% / 12) * 2)}
.col-3 {width: calc((100% / 12) * 3)}
.col-4 {width: calc((100% / 12) * 4)}
.col-5 {width: calc((100% / 12) * 5)}
.col-6 {width: calc((100% / 12) * 6)}
.col-7 {width: calc((100% / 12) * 7)}
.col-8 {width: calc((100% / 12) * 8)}
.col-9 {width: calc((100% / 12) * 9)}
.col-10 {width: calc((100% / 12) * 10)}
.col-11 {width: calc((100% / 12) * 11)}
.col-12 {width: calc((100% / 12) * 12)}