/*  Naam: Lucas Niesen
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header, nav, main{
    max-width: 1200px;
    margin: auto;
}

header{
    margin-top: 15px;
    
    border-top: 3px solid gray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h1{
    font-size: 30pt;
}

header > span{
    font-size: 30pt;
    background-color: #cccccc;
    height: 85px;
    width: 85px;
    
    display: flex;           
    align-items: center;    
    justify-content: center;

    border-radius: 15px;
    border: 2px solid black
}

header > img{
    width: 85px;
    height: auto;
    border-radius: 15px;
    border: 2px solid lightgray;
    padding: 7px;    
}

nav{
    margin-top: 0;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    
}

nav > a{
    display: inline-block;
    border: 1px solid gray;
    text-decoration: none; 
    color: gray;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 12pt;
}

nav > a:hover{
    background-color: rgb(238, 238, 238);
}

.stars{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15pt;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.games {
    margin: 30px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 0px;
}


.games > article > figure{
    position: relative;
    border: 2px solid gray;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    display: block;
}

.games > article > figure img{
    width: 100%;
    height: auto;
    display: block;
}

main{
    margin-bottom: 50px;
}

footer{
    background-color: gray;
    text-align: center;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    nav{
        display: flex;
    }
    nav > a{
        text-align: center;
        flex: 1;
    }

    .games {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .games > article > H1 {
        font-size: 15pt;
    }
}


@media screen and (max-width: 900px) {
    header, footer{
        display: none;
    }
    nav{
        margin-top: 15px;
        display: block;
    }
    nav > a{
        text-align: center;
        width: calc(100% - 20px);
    }

    .games {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


    .games > article > figure > img {
        width: 100px;
    }

    .games > article > figure {
        margin-right: 10px;
        float: left;
    }
}